# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. How many neighborhood groups are there and which shows up the most?
2. Are private rooms the most popular in Manhattan?
3. Who are the top 10 busiest hosts based on number of reviews per month?
4. Which neighorhood group has the highest average price? Plot the average prices in a professional looking bar chart
5. What is the most expensive neighbourhood in each neighbourhood group?
6. Which host has the highest minimum rental? *minimal rental is based on price and minimum nights
7. Who currently has no (zero) availability with a review count of 100 or more?
8. If each host rents all of their properties for the night, which 5 make the most that night?
9. When did Danielle from Queens last receive a review?
10. Display a bar chart showing the number of each type of room in the Bronx

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this entire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to simulate what you will face when you are out in the wild. 

Happy Coding!

In [3]:
!pip install matplotlib

Collecting matplotlib

WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\Brie - Work\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

  Downloading matplotlib-3.4.3-cp39-cp39-win_amd64.whl (7.1 MB)
Collecting pillow>=6.2.0
  Downloading Pillow-8.4.0-cp39-cp39-win_amd64.whl (3.2 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp39-cp39-win_amd64.whl (52 kB)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\brie - work\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.8.2)
Collecting pyparsing>=2.2.1
  Downloading pyparsing-3.0.4-py3-none-any.whl (96 kB)
Collecting numpy>=1.16
  Downloading numpy-1.21.4-cp39-cp39-win_amd64.whl (14.0 MB)
Requirement already satisfied: six>=1.5 in c:\users\brie - work\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, numpy, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.11.0 kiwisolver-1.3.2 matplotlib-3.4.3 numpy-1.21.4 pillow-8.4.0 pyparsing-3.0.4

In [5]:
!pip install pandas

Collecting pandas

WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\Brie - Work\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

  Downloading pandas-1.3.4-cp39-cp39-win_amd64.whl (10.2 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\brie - work\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\brie - work\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: six>=1.5 in c:\users\brie - work\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.4 pytz-2021.3

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
air_bnb = pd.read_csv('./AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [8]:
air_bnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [17]:
# How many neighbourhood groups / which shows up the most
air_bnb.groupby('neighbourhood_group').count()

#There are 5 neighborhood groups (Bronx, Brooklyn, Manhattan, Queens, & Staten Island)
#Manhattan shows up the most, with 21,661 rentals

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [19]:
# Are private rooms the most popular in Manhattan?
air_bnb.groupby(['neighbourhood_group', 'room_type']).count()

#Entire home/apartment are the most popular rental in Manhattan (13,199)

                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9

                                     availability_365
neighbourhood_group room_type
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9

In [49]:
# Who are the top 10 busiest hosts based on number of reviews per month?

busiest_host = air_bnb[['host_name', 'reviews_per_month']]
#busiest_host
host_sum = busiest_host.groupby('host_name').sum('reviews_per_month')
host_sum.sort_values('reviews_per_month', ascending=False).head(10)

#David, Michael, Alex, Sonder (NYC), John, Maria, Anna, Andrew, Jason, and Sam

              reviews_per_month
host_name
David                    508.61
Michael                  475.82
Alex                     443.44
Sonder (NYC)             397.56
John                     321.02
Maria                    288.39
Anna                     229.99
Andrew                   199.35
Jason                    196.15
Sam                      190.27

In [133]:
# Which neighborhood group has the highest avg price and plot the average prices in a bar chart
#Manhattan has the highest average price: $196.88

air_bnb.groupby('neighbourhood_group').mean()[['price']].sort_values('price', ascending=False)

                          price
neighbourhood_group
Manhattan            196.875814
Brooklyn             124.383207
Staten Island        114.812332
Queens                99.517649
Bronx                 87.496792

In [ ]:

fig = plt.subplot(1, figsize=(20, 10))

ax = air_bnb.plot.bar(x='neighbourhood_group', y='average_price', rot=0)

In [102]:
neighborhood_avg = air_bnb.groupby('neighbourhood').mean()

In [114]:
neighbourhood_group = air_bnb['neighbourhood_group']
neighbourhood = air_bnb['neighbourhood']
price = air_bnb['price']

In [116]:
#print(neighbourhood_group, neighbourhood)
borough = air_bnb[['neighbourhood_group', 'neighbourhood', 'price']]
borough

      neighbourhood_group       neighbourhood  price
0                Brooklyn          Kensington    149
1               Manhattan             Midtown    225
2               Manhattan              Harlem    150
3                Brooklyn        Clinton Hill     89
4               Manhattan         East Harlem     80
...                   ...                 ...    ...
48890            Brooklyn  Bedford-Stuyvesant     70
48891            Brooklyn            Bushwick     40
48892           Manhattan              Harlem    115
48893           Manhattan      Hell's Kitchen     55
48894           Manhattan      Hell's Kitchen     90

[48895 rows x 3 columns]

In [139]:
# What is the most expensive neighbourhood in each neighbourhood_group 'neighbourhood_group'
air_bnb.groupby(['neighbourhood_group', 'neighbourhood']).mean()[['price']]

                                        price
neighbourhood_group neighbourhood
Bronx               Allerton        87.595238
                    Baychester      75.428571
                    Belmont         77.125000
                    Bronxdale       57.105263
                    Castle Hill     63.000000
...                                       ...
Staten Island       Tottenville    144.857143
                    West Brighton   80.555556
                    Westerleigh     71.500000
                    Willowbrook    249.000000
                    Woodrow        700.000000

[221 rows x 1 columns]

In [158]:
# Which host has the highest minimum rental? *minimal rental is based on price and minimum nights
#Jessica (host 1177497) has the highest minimal rental: $8000 / night

#air_bnb.info()
#air_bnb["minimum_nights"].describe
air_bnb["minimal_rental"] = air_bnb["price"] / air_bnb["minimum_nights"]
#print(air_bnb["minimal_rental"])

air_bnb[['host_id', 'host_name', 'minimal_rental']].set_index('host_name').sort_values('minimal_rental', ascending=False)

                host_id  minimal_rental
host_name
Jessica         1177497          8000.0
Sally         156158778          7703.0
Sandra        262534951          7500.0
Jack            7407743          7500.0
Kevin           3750764          6800.0
...                 ...             ...
Kimberly        8993084             0.0
Aymeric        10132166             0.0
Lauren          1641537             0.0
Martial Loft   15787004             0.0
Qiuchi         13709292             0.0

[48895 rows x 2 columns]

In [171]:
# Who has no (zero) availability with a review count of 100 or more
#air_bnb.info()
#air_bnb[['host_id', 'host_name', 'availability_365']].sort_values('availability_365', ascending=True)[air_bnb['number_of_reviews'] > 100].head(20)
air_bnb[air_bnb['number_of_reviews'] >= 100].sort_values('availability_365', ascending=True)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,minimal_rental
12908,9824042,21st Floor Bedroom in Doorman & Elevator Building,24175837,Greg,Manhattan,Kips Bay,40.74423,-73.97742,Private room,69,4,107,2019-04-15,2.50,2,0,17.250000
973,387735,LOCATION LOCATION LOCATION Sara's,1146958,Liz,Manhattan,Gramercy,40.73677,-73.98084,Entire home/apt,125,30,128,2019-06-11,1.46,4,0,4.166667
9976,7675781,JFK 10 & LGA 15 MINUTES AWAY A/C PRIVATE BED...,22959695,Gurpreet Singh,Queens,Richmond Hill,40.69463,-73.82610,Private room,50,1,408,2018-11-24,8.56,5,0,50.000000
23260,18837416,*Luxury 1 Bedrm Private Designer Home & Roofdeck*,3203397,Brian,Manhattan,West Village,40.73321,-74.00242,Entire home/apt,350,1,105,2019-05-26,4.63,1,0,350.000000
4945,3544828,PrivateRoom in Beautiful Brownstone,17224426,Jillian,Brooklyn,Bedford-Stuyvesant,40.68643,-73.92208,Private room,56,2,180,2019-01-02,3.04,1,0,28.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,4280053,Clean Room by Metro/Subway -15mns to Manhattan,20243795,Tony,Brooklyn,Bedford-Stuyvesant,40.68206,-73.95441,Private room,80,2,100,2019-06-27,1.73,3,365,40.000000
22011,17707963,"5mins from JFK, one cozy bedroom for one",119592255,Kevin,Queens,Jamaica,40.68090,-73.78196,Private room,50,1,173,2019-07-07,6.15,2,365,50.000000
8363,6428482,2C Private Rm in Guesthouse Manhattan,7831209,Bobi,Manhattan,East Harlem,40.80749,-73.93803,Private room,50,1,103,2019-05-31,2.07,10,365,50.000000
235,60611,SpaHa Studio Monthly Rental,292204,Blanca,Manhattan,East Harlem,40.79163,-73.94573,Entire home/apt,125,28,183,2018-09-29,1.83,2,365,4.464286
2285,1098863,Great Bushwick Studio Apartment,2413714,Wilfredo,Brooklyn,Bushwick,40.69305,-73.90398,Entire home/apt,125,2,116,2019-07-04,1.55,1,365,62.500000

In [182]:
# If each host rents all of their properties for the night, which 5 make the most that night?
#Sonder (NYC) $82795; Blueground $70331; Michael $66,895; David $65,844; Alex $52,563
#air_bnb.info()
air_bnb.groupby('host_name')[['price']].sum()[['price']].sort_values('price', ascending=False)

                   price
host_name
Sonder (NYC)       82795
Blueground         70331
Michael            66895
David              65844
Alex               52563
...                  ...
Carolann              12
Vishanti & Jeremy     10
Salim                 10
Qiuchi                 0
Aymeric                0

[11452 rows x 1 columns]

In [ ]:
# When did Danielle from Queens last receive a review?
def Danielle_Q(row):
    if row['host_name'] == 'Danielle' and row['neighbourhood_group'] == 'Queens':
        return
#air_bnb[['host_name','neighbourhood_group']]

In [ ]:
# bar chart showing the number of room types in the Bronx

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --